{% extends "layout.html" %}
{% block content %}
<div class="home-container">
    <div class="home-right">
        <img src="{{ url_for('static', filename='Image11-removebg-preview.png') }}" alt="University Logo" class="main-image">
    </div>
    <div class="home-left">
        <h1>نظام إدارة الشؤون الجامعية</h1>
        <p>منصة شاملة لإدارة جميع الشؤون الأكاديمية والإدارية</p>
        <div class="back-home">
            <a href="/login" class="btn-primary">تسجيل الدخول</a>
            <a href="/select_account_type" class="btn-secondary">إنشاء حساب جديد</a>
        </div>
    </div>
    
</div>
{% endblock %}